.nav {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #4a27ff;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.nav a:hover {
  text-decoration: underline;
}
